{% extends 'base.html' %}

{% load static %}

{% block title %}Портфолио{% endblock %}

{% block content %}
<div class="back-portfolio">
    <div class="back-portfolio-cover"></div>

    <div class="music-container">
        <div class="music-header">
            <div class="title">
                {% comment %} <img src="{% static 'images/img/logo.png' %}" alt="logo"> {% endcomment %}
            </div>
        </div>
        <div class="music-playlist">
            <div class="music-menu text-center">
                <div class="menu">
                    <ul>
                        <li><a href="#">Год</a></li>
                        <li><a href="#">Месяц</a></li>
                        <li><a href="#">Жанр</a></li>
                        <li><a href="#">Жанр</a></li>
                    </ul>
                </div>
            </div>
            <div class="music-box">
                {% for song in songs %}
                <div class="music-info">
                    <div class="music-img">
                        <img src="{% static 'images/img/Avatar.png' %}" alt="img">
                    </div>
                    <div class="music-name {{ song.id }}" onclick='playSong("{{ song.songfile }}", "{{ song.title }}", "{{ song.id }}")'>
                        <h6>{{ song.title }}</h6>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="music-play">
            <div class="play-image">
                <img src="{% static 'images/img/Avatar.png' %}" alt="">
            </div>
            <div class="play-controls">
                <div class="controls">
                    <div class="song-name">
                        <dir class="marquee"><span id="song-title">Rocketman Production</span></dir>
                        <div id="current-time"></div>
                    </div>
                    <div class="play-icons">
                        <i class="fa fa-step-backward" onclick='pre()'></i>
                        <i class="fa fa-play" onclick='pauseSong()' id="play"></i>
                        <i class="fa fa-stop" onclick='stopSong()' id="stop"></i>
                        <i class="fa fa-step-forward" onclick='next()'></i>
                        <div class="volume">
                            <i class="fa fa-volume-up" onclick='increaseVol()' id="increase-volume"></i>
                            <i class="fa fa-volume-down" onclick='decreaseVol()' id="decrease-volume"></i>
                        </div>
                    </div>
                </div>
                <div class="music-progress">
                    <div class="progress">
                        <div id="fill-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block player %}
{% endblock %}