{% extends 'base.html' %}

{% load static %}

{% block title %}Портфолио{% endblock %}

{% block content %}
<div class="back-portfolio">
    <div class="back-portfolio-cover"></div>

    <div class="music-container">
        <div class="music-header">
            <div class="title">
                <p>сдесь можно описывать играющий трек сдесь можно описывать играющий трек</p>
            </div>
        </div>
        <div class="music-playlist">
            <div class="music-menu text-center">
                <div class="menu">
                    <ul>
                        <li><a href="#">Год</a></li>
                        <li><a href="#">Месяц</a></li>
                        <li><a href="#">Жанр</a></li>
                        <li><a href="#">Жанр</a></li>
                    </ul>
                </div>
            </div>
            <div class="music-box">
                {% for song in songs %}
                    <div class="music-info">
                        <div class="music-img">
                            <img src="{% static 'images/img/logo.png' %}" alt="img">
                        </div>
                        <div class="music-name">
                            <h6>{{ song.title }}</h6>
                            {% comment %} <p>{{ song.description }}</p> {% endcomment %}
                            <audio src="{{ song.songfile }}"  controls></audio>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
        {% comment %} <div class="music-play">
            <div class="play-image">
                <img src="{% static 'images/img/Avatar.png' %}" alt="">
            </div>
            <div class="play-controls">
                <div class="controls">
                    <div class="song-name">
                        <h5>Название играющего</h5>
                        <p>Описание играющего</p>
                    </div>
                    <div class="play-icons">
                        <i class="fa fa-step-backward"></i>
                        <i class="fa fa-play"></i>
                        <i class="fa fa-step-forward"></i>
                    </div>
                </div>
                <div class="music-progress">
                    <div class="progress">
                        <div class="progress-bar">

                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>

    {% comment %} <div class="wrapper-list-song">
        {% for song in songs %}
        <div class="song-wrapper">
            <div class="song-title">{{ song.title }}</div>
            <div class="song">
                <audio src="{{ song.songfile }}" controls></audio>
            </div>
        </div>
        {% endfor %}
    </div> {% endcomment %}

    {% comment %} <div class="portfolio-logo">
        <img class="logo-player" src="/static/images/img/logo.png" alt="logo">
        <div class="glow"></div>
    </div> {% endcomment %}
</div>
</div>

{% endblock  %}

{% block player %}
{% endblock %}